<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='/images/Staying Minty Final.png')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>


    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="flash error">
                    <strong>Error!</strong> {{ message }}
                    <button class="close-btn">&times;</button>
                </div>
                {% else %}
                <div class="flash success">
                    <strong>Success!</strong> {{ message }}
                    <button class="close-btn">&times;</button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="page-wrapper">
        <nav>
            <div class="nav-logo"><span>EXN</span></div>
        
            <a href="/#home" class="nav-link" tabindex="-1" >
                <span class="nav-item ">
                    <span class="toggle-highlight"></span>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span class="nav-text">Home</span>
                </span>
            </a>
            <a href="/#projects" class="nav-link" tabindex="-1" >
                <span class="nav-item">
                    <span class="toggle-highlight"></span>
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    <span class="nav-text">Projects</span>
                </span>
            </a>
            <a href="/#about" class="nav-link" tabindex="-1">
                <span class="nav-item">
                    <span class="toggle-highlight"></span>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="nav-text">About</span>
                </span>
            </a>
            <a href="/#footer" class="nav-link" tabindex="-1">
                <span class="nav-item">
                    <span class="toggle-highlight"></span>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span class="nav-text">Contact Me</span>
                </span>
            </a>
            
            {% if isUserAuthenticated %}
            <a href="/" class="nav-link logout-btn" tabindex="-1">
                <span class="nav-item">
                    <span class="toggle-highlight"></span>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="nav-text">Logout</span>
                </span>
            </a>
            {% endif %}
        
        </nav>
    
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer id="footer">
        <div class="jump-container">
            <a href="#home" class="footer-home-button">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                Go to Top
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                <span class="footer-home-button-underline"></span>
            </a>
        </div>
        <hr>
        <span class="footer-logo">
            <h1>EXN</h1>
        </span>
        <div class="contact-container">
            <h2 class="contact-title">Contact Me</h3>
            <a href="https://web.facebook.com/Exionot/" class="facebook-link">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                Zack Urbiztondo Alingalan
            </a>
            <span class="email-link">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                alingalanzackurbiztondo@gmail.com
            </span>
        </div>
        <div class="footer-bottom-text">
            <p class="trademark-text">
                I don’t have any registered trademarks to list here. This section is only included to give the site a more official, finished look. 
                <br>
                Nothing on this page is intended to claim ownership, registration, or legal protection of any names, logos, or branding shown. Developed by Zack U. Alingalan from BAIT - 1A.
            </p>
            <br>
            <a href="/login" class="copyright-text">
                © 2007-2026 Exionot Studio. All Rights Reserved.
            </a>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='javascript/main.js')}}"></script>
</body>
</html>